
.toptrafficlight{
    width: 100px;
    height: 300px;
    background: black;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;

}
.red, .yellow, .green{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.red{
    background: red;

}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.shadowlight{
    box-shadow: white 0px 0px 40px 20px
}